using System;
using System.Linq;
using System.Collections.Generic;
using rock.Core.Common;

namespace rock.Factories.[Resource]
{
  public partial class [Resource]Factory : I[Resource]Factory
  {
  }
}